name: jython

on:
  workflow_call:
  workflow_dispatch:

jobs:
  jython:
    runs-on: ubuntu-latest
    env:
      JYTHON_CACHE_DIR: '~/.cache/jython'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Jython
        uses: coatl-dev/actions/setup-jython@v5
        id: setup-jython
        with:
          jython-version: '2.7.3'

      - name: Cache Jython
        uses: actions/cache@v4
        with:
          path: ${{ env.JYTHON_CACHE_DIR }}
          key: jy-${{ steps.setup-jython.outputs.jython-version }}-${{ runner.os }}-${{ steps.setup-jython.outputs.java-distribution }}-${{ steps.setup-jython.outputs.java-version }}-${{ hashFiles('incendium/setup.py') }}

      - name: Test installation on Jython
        working-directory: incendium
        run: |
          make install JYTHON_CACHE_DIR=${{ env.JYTHON_CACHE_DIR }}
