name: pr-build

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/jython.yml
      - .github/workflows/pr-build.yml
      - '**/requirements.txt'
      - '**/tox.ini'
      - src/**
      - Makefile
      - setup.py
      - stubs/stubs/**
      - stubs/pyproject.toml
  workflow_call:

jobs:
  jython:
    uses: ./.github/workflows/jython.yml

  tox-incendium:
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v6

  tox-incendium-stubs:
    uses: coatl-dev/workflows/.github/workflows/tox-gh.yml@v6
    with:
      python-versions: '["3.9", "3.10", "3.11", "3.12"]'
      working-directory: stubs
