name: publish

on:
  release:
    types:
      - published

jobs:
  publish-incendium:
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@v6
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN_INCENDIUM_PKG }}

  publish-incendium-stubs:
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@v6
    with:
      python-version: '3.12'
      working-directory: stubs
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN_INCENDIUM_STUBS }}
